<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Read about normalize.css here: http://necolas.github.io/normalize.css/ -->
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/main.css">
  <title>This is a title.</title>
</head>
<body>
  <div id="page">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/todo">What to work on</a></li>
      </ul>
    </nav>

    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
