<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/main.css">
  <title>OSIRIS</title>
  <meta charset="utf-8" >
  <meta name="viewport" content= "width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/Osiris.gif" type"image/gif">
</head>
<body>
  <div id="page">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/scenes">Manage Scenes</a></li>

      </ul>
    </nav>

    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
